.accordion{
    background-color:  #fafafa !important;
    border-radius: 10px;
    font-weight: 600;

}
.accordion-button {
     align-items: center;
    font-size: 1.5rem !important;
    font-weight: 600 !important;
    color: var(--bs-accordion-btn-color);
    text-align: left;
    background-color: var(--bs-accordion-btn-bg);
    border: 0;
    border-radius: 0;
    height: 70px !important;

}


.accordion-item:first-of-type>.accordion-header .accordion-button {
    color: #f35525;
    background-color: #fafafa;
    outline: none
}
