.items{
    width: 330px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
    padding: 35px 40px;
    background-color: #fff;
    margin-top: 50px;
}

.items img {
    float: left;
    margin-right: 25px;
    vertical-align: middle;
 }
.items h6 {
    color: black !important;
    font-size: 25px !important;
    font-weight: 600;
    text-align: center;
}

.items h6 span {
    font-size: 15px;
    color: #aaaaaa;
    font-weight: 400;
}