.video-section{
    height: 70vh;
    background-image: url(../../assets/Image/video-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 100px 0px 250px 0px;
    position: relative;
    margin-bottom: 300px;
}
.video-text{
    margin-bottom: 40px;
}
.video-section h6{
    color: #ee626b;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 700;
}
.video-section h2{
    color: white;
    font-size: 50px;
    font-weight: 700;
    text-transform: capitalize;
    margin-top: 20px;
    line-height: 56px;
}

.video-section .video{
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    position: relative;
}
.video a{
position: absolute;
left: 50%;
top: 50%;
transform: translate(-26px, -26px);
width: 55px;
height: 56px;
background-color: #fff;
border-radius: 50%;
display: inline-block;
text-align: center;
line-height: 52px;
color: #f35525;
outline: 15px solid rgba(254, 85, 37, 0.5);
font-size: 23px !important;
}
.video-section .video img{
    border-radius: 10px;
    width: 100%;
}